head {
  text-align: center;
  font-family: "Cinzel", serif;
}

body {
  font-family: "Cinzel", serif;
  background: url("https://m.media-amazon.com/images/I/719lgfkEyUL.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
#app {
  opacity: 0.75;
  background-color: #0000;
  color: #fff;
}
#form-container {
  color: white;
  padding-top: 12px;
}

#card-container {
  display: flex;
  flex-flow: row wrap;
}
