head {
  text-align: center;
  font-family: "Cinzel", serif;
}

body {
  font-family: "Cinzel", serif;
  background: url("https://m.media-amazon.com/images/I/719lgfkEyUL.jpg")
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
#app {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}
#form-container {
  padding-top: 12px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-height: 430px;
  justify-content: space-evenly;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

#div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#death-eaters {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-height: 430px;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Megrim", cursive;
  font-weight: bold;
  font-size: larger;
}

form {
  color: white;
}

#sorting-hat {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  color: white;
}
